node_modules
platforms
hooks
.update_backup
tags
dist
out-tsc
**/*.js.map
**/*.metadata.json

# Compodoc
documentation

# NativeScript
.migration_backup/
/nativescript-angular/**/*.d.ts
/nativescript-angular/**/*.js

!/nativescript-angular/global.d.ts
!/nativescript-angular/postinstall.js
!/nativescript-angular/hooks/**/*.js
!/nativescript-angular/gulpfile.js
!/nativescript-angular/zone-js/dist/*.js

/nativescript-angular-package/**/*.d.ts
/nativescript-angular-package/**/*.js

!/nativescript-angular-package/global.d.ts
!/nativescript-angular-package/postinstall.js
!/nativescript-angular-package/hooks/**/*.js
!/nativescript-angular-package/gulpfile.js
!/nativescript-angular-package/zone-js/dist/*.js

.tscache
.nvm
.vscode
.DS_Store
npm-debug.log
nativescript-angular*.tgz

/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
yarn-error.log
testem.log
/typings

# Apps' JS files
tests/app/**/*.js
tests/test-output.txt
ng-sample/app/**/*.js

# Webpack configuration files
webpack.config.js
tsconfig.esm.json
tsconfig.tns.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# exclude misc fonts
*.ttf
# include the font-awesome free pack we actually use
!fa-solid-900.ttf

# System Files
.DS_Store
Thumbs.db