:host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
}

.button {
    display: flex;
    justify-content: center;
}

.mat-form-field {
    width: 100%;
    min-width: 300px;
}

/* .mat-card {
    background-color: rgba(255, 255, 255, 1);
} */

.clickable {
    font-size: 80%;
}