<mat-card>
    <mat-card-title>{{title}}</mat-card-title>

    <mat-card-content>
        <form class="loginForm" (ngSubmit)="submit()">
            <div>
                <mat-form-field *ngIf="!isLoggingIn">
                    <!-- TODO Fix validation -->
                    <input matInput [(ngModel)]="user.name" name="name" type="text" placeholder="Full Name"
                        [disabled]="processing | async" required>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <!-- TODO Fix validation -->
                    <input matInput [(ngModel)]="user.email" name="email" 
                        type="email" placeholder="Email" [disabled]="processing | async" required>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input matInput #password [(ngModel)]="user.password" [disabled]="processing | async"
                        name="password" type="password" placeholder="Password" required>
                    <!-- <input hidden formControlName="control"> -->
                </mat-form-field>
            </div>
            <div>
                <mat-form-field *ngIf="!isLoggingIn">
                    <input matInput #confirmPassword name="confirmPassword" 
                    [(ngModel)]="user.confirmPassword" [disabled]="processing | async"
                        type="password" placeholder="Confirm password" required>
                    <!-- <input hidden formControlName="control"> -->
                </mat-form-field>
            </div>
            <div class="button">
                <button type="submit" [disabled]="processing | async" mat-button>
                    {{isLoggingIn?"Log In":"Register"}}
                </button>
            </div>
            <div class="button clickable">
                <span *ngIf="isLoggingIn" (click)="toggleForm()">Don't have an account? <b>Sign up</b></span>
                <span *ngIf="!isLoggingIn" (click)="toggleForm()">Back to Login</span>
            </div>
        </form>
    </mat-card-content>
</mat-card>