:host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
}

.button {
    display: flex;
    justify-content: center;
}

.mat-form-field {
    width: 100%;
    min-width: 300px;
}

.clickable {
    font-size: 80%;
}