 @import '~nativescript-theme-core/css/core.light.css';

 .btn-primary {
     height: 50;
     background-color: #229954;
     border-radius: 5;
     font-size: 20;
     font-weight: 600;
 }

 .btn-primary:disabled {
     opacity: 0.5;
 }
