nav {
    background-color: rgba(39, 153, 84, .85);
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

span {
    flex: 1;
    display: flex;
    justify-content: center;
}

span:first-child {
    margin-right: auto;
    justify-content: left;
}

span:last-child {
    margin-left: auto;
    justify-content: right;
}

/* First Child of the last span goes right as well
   This shouldn't be needed, but it fixes the spacing in Chrome */
span:last-child > *:first-child {
    margin-left: auto;
}

/*  For best appearance, this max-width needs to be changed 
    if the nav buttons are changed. */
@media screen and (max-width: 600px) {
    
    .title-image {
        height: 32px;
    }

    .right-buttons {
        order: 2;
    }

    .center-buttons {
        order: 3;
    }
}