<nav>
    <span>
        <button mat-button (click)="go('/home')">
            <img class="title-image" src="assets/images/Title-smallish.png" height="42" />
        </button>
    </span>

    <span class="center-buttons">
        <!-- TODO: Go to search component with parameters -->
        <button mat-button *ngFor="let btn of centerButtons | async" (click)="go(btn.path)">
            {{btn.title}}
        </button>
    </span>

    <span class = "right-buttons">
        <button mat-button (click)="go('/orgs')">Your Orgs</button>
        <!-- TODO: Put the profile pic (or default one) here instead of the word "Profile" -->
        <button mat-button [matMenuTriggerFor]="profileMenu">Profile</button>
    </span>

</nav>

<!-- Hide these over here so it doesn't get affected by CSS -->
<mat-menu #profileMenu="matMenu" xPosition="before" yPosition="below">
    <button mat-menu-item *ngIf="loggedIn | async" (click)="go('/profile')">Profile</button>
    <button mat-menu-item *ngIf="loggedIn | async" (click)="go('/settings')">Settings</button>
    <button mat-menu-item (click)="logX()">{{(loggedIn | async) ? "Logout" : "Login"}}</button>
</mat-menu>