<mat-card>
    <mat-card-title>{{title}}</mat-card-title>

    <mat-card-content>
        <!-- TODO: Use profile pic -->
        <img (click)="updateProfilePic()" src="/assets/images/morgan.png"/>

        <form class="loginForm" (ngSubmit)="submit()">
            <div>
                <mat-form-field>
                    <!-- TODO Fix validation -->
                    <input matInput [(ngModel)]="user.name" name="name" type="text" placeholder="Full Name"
                        [disabled]="processing | async" required>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <!-- TODO Fix validation -->
                    <input matInput [(ngModel)]="user.email" name="email" 
                        type="email" placeholder="Email" [disabled]="processing | async" required>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input matInput [(ngModel)]="user.phone" name="phone" type="tel"
                        placeholder="Phone" [disabled]="processing | async">
                </mat-form-field>
            </div>
            <!-- <div>
                <mat-form-field>
                    <input matInput [(ngModel)]="user.dob" name="dob" type="date"
                        placeholder="Date of Birth" [disabled]="processing | async">
                </mat-form-field>
            </div> -->
            <div>
                <mat-form-field>
                    <input matInput [(ngModel)]="profile.bio" name="bio" type="text"
                        placeholder="Bio" [disabled]="processing | async">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input matInput [(ngModel)]="profile.domains" name="domains" type="text"
                        placeholder="Domains" [disabled]="processing | async">
                </mat-form-field>
            </div>

            <div class="btn-row">
                <div class="button">
                    <button type="submit" [disabled]="processing | async" mat-button>
                        Save
                    </button>
                </div>
                <div class="button">
                    <button type="menu" [routerLink]="['/profile']" [disabled]="processing | async" mat-button>
                        Close
                    </button>
                </div>
            </div>
            
        </form>
    </mat-card-content>
</mat-card>