/* Add mobile styles for the component here.  */

.question {
    color: white;
    margin: 10;
    border-radius: 25;
    text-align: center;
    padding: 8;
    font-size: 24;
}

.answer {
    margin: 5;
    margin-left: 0;
    margin-right: 0;
    border-radius: 0;
    text-align: center;
    padding: 15;
    font-size: 20;
    font-weight: 500;
}

.selected {
    background-color: var(--gc-gold);
    color: black;
}

.unselected {
    background-color: var(--gc-green);
    color: white;
}