<GridLayout rows="auto, auto, *, auto" class="bg-dark-grey" appHideActionBar>
    <Progress row="0" [value]="progressVal" [maxValue]="progressMax" class="progressBar"
        [visibility]="showProgress ? 'visible' : 'collapse'"></Progress>
    <TextView row="1" [text]="question.prompt" class="question" editable="false"></TextView>
    <ScrollView row="2">
        <FlexboxLayout [flexDirection]="answerDirection" flexWrap="wrap" alignItems="stretch"
            alignContent="stretch" justifyContent="center">
            <TextView *ngFor="let answer of question.answers; let i = index" class="answer"
                [text]="answer.value" (tap)="setSelectedAnswer(i)" [ngClass]="getAnswerClasses(i)"
                editable="false">
            </TextView>
        </FlexboxLayout>
    </ScrollView>
    <StackLayout row="3" orientation="horizontal" verticalAlignment="bottom" horizontalAlignment="center" class="bg-dark-grey">
        <Button (tap)="previousQuestion()" class="btn" text="Back" [visibility]="!firstQuestion ? 'visible' : 'collapsed'"></Button>
        <Button (tap)="doneQuestion()" class="btn" [text]="submitText"></Button>
    </StackLayout>
</GridLayout>