<GridLayout rows="auto, *" class="bg-purple home-view">
    <GridLayout row="0" columns="*, auto" height="60">
        <Label column="0" paddingLeft="10" class="title" verticalAlignment="center" fontWeight="bold" color="#fff"
            text="{{title}}"></Label>
        <GridLayout column="1" verticalAlignment="middle" horizontalAlignment="center">
            <Label [text]="cogs" class="fas settings-gears" (tap)="goToSettings()" automationText="Settings"></Label>
        </GridLayout>
    </GridLayout>
    <ScrollView row="1" class="margin-for-navbar">
        <StackLayout>
            <!-- TODO: This is hardcoded -->
            <Image src="~/assets/images/morgan.png"></Image>

            <StackLayout *myLet="profile$ | async as profile" horizontalAlignment="center"> 
                <Label class="info" [text]="profile.domains"></Label>
                <Label class="info" [text]="profile.bio"></Label>
            </StackLayout>

            <!-- <StackLayout *ngFor="let item of info" orientation="horizontal" horizontalAlignment="center">
                <Label [text]="item.text" class="info"></Label>
                <Label *ngIf="item.lockable" [text]="item.locked ? locked : unlocked" class="fas lock"></Label>
                [nsRouterLink]="['/account-details']"
            </StackLayout> -->
            <Button text="Edit Details" (tap)="goToUserDetails()" class="btn btn-small bg-gold m-t-20"></Button>

            <Label text="portfolio" class="profile-header"></Label>
            <Button text="Add Experience" (tap)="addExperience()" class="btn btn-medium bg-gold m-t-20"></Button>
        </StackLayout>
    </ScrollView>
</GridLayout>