/* You can add global web styles to this file, and also import other style files */

/* Purple rgba(109, 56, 145, .8) #6D3891 */

* {
    box-sizing: border-box;
}

:host {
    --gc-green: #229954;
}

h1 {
    text-align: center;
    color: white;
}

/* This seems to be overwritten or ignored--why? */
body > button {
    background-color: rgba(39, 153, 84, 0.8);
    /* background: #6D3891; */
    color: white;
}

mat-card-title,
mat-card-content {
    display: flex;
    justify-content: center;
    text-align: center;
}

body, html {
    height: 100%;
}

.clickable {
    cursor:pointer;
}

.curtains-bg {
    height: 100%;
    background-image: url("data:image/svg+xml, %3Csvg id='curtains' alt='Curtain background' height='2560' viewBox='0 0 2560 2560' width='2560' xmlns='http://www.w3.org/2000/svg'%3E%3Cg transform='scale(5)'%3E%3Cpath d='m0 512v-31.214-480.786c0 37.257 512 37.257 512 0v480.786 31.214' fill='%234d5961' /%3E%3Ccircle cx='256' cy='284.503' fill='%235e6b75' r='134.354' /%3E%3Cpath d='m37.57 394.693h433.626v92.632h-434.635z' fill='%23f1d333' /%3E%3Cpath d='m37.57 418.607h433.626v76.773h-434.635z' fill='%23e7a52e' /%3E%3Cpath d='m478.457 291.994-38.024 201.133 59.524 15.7 12.043 3.173v-512l-10.497 2.308-117.688 25.888s-7.696 27.66-8.499 66.251c-1.247 60.482 14.412 147.831 103.141 197.547z' fill='%234AB576' /%3E%3Cpath d='m512 0v512l-12.043-3.173-24.518-24.518 21.263-184.588.886-7.726c-1.164-2.287-2.266-4.873-3.297-7.726-21.242-58.834-14.948-232.069-14.948-232.069l22.159-49.892z' fill='%23229954' /%3E%3Cpath d='m375.316 94.447c81.281-17.874 136.684-53.466 136.684-94.447l-128.185 28.196s-7.696 27.66-8.499 66.251z' fill='%23229954' /%3E%3Cpath d='m512 284.268v15.453h-43.845c-4.265 0-7.726-3.461-7.726-7.726 0-4.275 3.462-7.726 7.726-7.726h43.845z' fill='%236D3891' /%3E%3Cpath d='m468.152 265.484c-1.753.001-3.514-.593-4.962-1.807-29.999-25.171-49.013-65.819-54.988-117.55-4.452-38.548-.236-69.386-.054-70.68.593-4.226 4.51-7.168 8.724-6.577 4.226.593 7.171 4.499 6.577 8.725-.195 1.414-15.715 119.38 49.672 174.244 3.27 2.743 3.696 7.616.953 10.885-1.528 1.822-3.717 2.76-5.922 2.76z' fill='%23229954' /%3E%3Cpath d='m465.018 221.184c-3.173 0-6.148-1.97-7.277-5.13-20.702-57.97-1.042-134.253-.195-137.472 1.086-4.127 5.311-6.592 9.438-5.506 4.126 1.086 6.591 5.31 5.507 9.436-.195.743-19.274 74.927-.196 128.345 1.435 4.019-.66 8.44-4.678 9.875-.859.307-1.737.452-2.599.452z' fill='%23229954' /%3E%3Cpath d='m33.543 291.994 38.024 201.133-59.524 15.7-12.043 3.173v-512l10.497 2.308 117.688 25.888s7.696 27.66 8.499 66.251c1.247 60.482-14.412 147.831-103.141 197.547z' fill='%234AB576' /%3E%3Cpath d='m36.561 484.309-24.518 24.518-12.043 3.173v-512l10.497 2.308 22.159 49.892s6.295 173.235-14.948 232.069c-1.03 2.854-2.132 5.439-3.297 7.726l.886 7.726z' fill='%23229954' /%3E%3Cpath d='m136.684 94.447c-81.281-17.874-136.684-53.466-136.684-94.447l128.185 28.196s7.696 27.66 8.499 66.251z' fill='%23229954' /%3E%3Cpath d='m512 0c0 37.257-114.615 67.46-256 67.46s-256-30.203-256-67.46z' fill='%234AB576' /%3E%3Cpath d='m127.289 437.405h-83.911c-23.957 0-43.378 19.421-43.378 43.378v31.217h170.667v-31.217c0-23.957-19.421-43.378-43.378-43.378z' fill='%23be694f' /%3E%3Cpath d='m69.558 437.402c-23.962 0-43.381 19.419-43.381 43.381v31.214h-26.177v-31.214c0-23.962 19.419-43.381 43.371-43.381z' fill='%23934d36' /%3E%3Cpath d='m297.956 437.405h-83.911c-23.957 0-43.378 19.421-43.378 43.378v31.217h170.667v-31.217c-.001-23.957-19.422-43.378-43.378-43.378z' fill='%23be694f' /%3E%3Cpath d='m240.225 437.402c-23.962 0-43.381 19.419-43.381 43.381v31.214h-26.177v-31.214c0-23.962 19.419-43.381 43.371-43.381z' fill='%23934d36' /%3E%3Cpath d='m468.622 437.405h-83.911c-23.957 0-43.378 19.421-43.378 43.378v31.217h170.667v-31.217c0-23.957-19.421-43.378-43.378-43.378z' fill='%23be694f' /%3E%3Cpath d='m410.891 437.402c-23.962 0-43.381 19.419-43.381 43.381v31.214h-26.177v-31.214c0-23.962 19.419-43.381 43.371-43.381z' fill='%23934d36' /%3E%3Cpath d='m99.948 0c16.287 18.749 79.973 32.729 156.052 32.729s139.765-13.98 156.052-32.729' fill='%23229954' /%3E%3Cpath d='m51.571 291.994c0 4.265-3.462 7.726-7.726 7.726h-43.845v-15.453h43.845c4.264.001 7.726 3.452 7.726 7.727z' fill='%236D3891' /%3E%3Cg fill='%23229954'%3E%3Cpath d='m43.848 265.484c-2.205 0-4.394-.939-5.923-2.76-2.743-3.269-2.317-8.142.953-10.885 65.56-55.009 49.838-173.058 49.672-174.244-.594-4.226 2.351-8.132 6.577-8.725 4.221-.59 8.132 2.351 8.724 6.577.182 1.294 4.397 32.132-.054 70.68-5.975 51.731-24.989 92.379-54.988 117.55-1.446 1.214-3.208 1.807-4.961 1.807z' /%3E%3Cpath d='m46.982 221.184c-.863 0-1.739-.145-2.599-.452-4.018-1.435-6.113-5.856-4.678-9.875 19.077-53.419-.001-127.602-.196-128.345-1.082-4.127 1.383-8.351 5.51-9.435 4.123-1.086 8.349 1.38 9.435 5.505.847 3.219 20.507 79.502-.195 137.472-1.129 3.16-4.104 5.13-7.277 5.13z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}